/* 预设的通用样式 */
.pointer:hover {
  cursor: pointer;
}

.link {
  color: var(--linkColor);

  &:hover {
    cursor: pointer;
  }
}

.dangerColor {
  color: var(--dangerColor);
}

.dropdownBtn {
  padding-left: 4px;
}

.bold {
  font-weight: bold;
}

.alignCenter {
  text-align: center;

  /* 让ant-table里的内容也居中 */
  & .ant-table {
    & table {
      text-align: center;
    }
    & .ant-table-thead > tr > th {
      text-align: center;
    }
  }
}

.alignLeft {
  text-align: left;
}

.ml8 {
  margin-left: 8px;
}