.btn{
  text-align: right;
  & button.more{
    width: 100px;
    height: 40px;
    background: #ec2020;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
}
ul.lists{
  overflow: hidden;
  border: 1px solid #dedede;
  &li:last-child{
    border-bottom: none;
  }
  & li.item{
    height: 150px;
    padding: 5px 10px;
    list-style: none;
    border-bottom: 1px solid #dedede;
    & img.itemImg{
      display: block;
      float: left;
      width: 140px;
      height: 140px;
      background: #cccccc;
    }
    & div.itemContent{
      float: left;
      height: 80px;
      padding: 5px 10px;
      & .itemTitle{
        font-size: 16px;
        font-weight: bold;
      }
      & .itemDesc{

      }
      & .itemAddress{
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        color: #cccccc;
      }
    }
  }
}
