.detail-page {
  padding: var(--bodyPadding);

  & .detail-page-base-wrap {

  }

  & .detail-page-result-wrap {

    /* 图表 */
    & .chart_result {
      width: 100%;
      height: 400px;
    }
  }
}