.indicatorAddForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;

  & > .indicatorAddForm-form_wrap {}

  & > .indicatorAddForm-indicators_table {
    & > .search {
      margin-bottom: 10px;
    }
  }
}
